<page-template [loading]="loading" icon="fas fa-newspaper" titulo="Nova Categoria"
    descricao="Cadastro e edição de Categorias">
    <form [formGroup]="form" class="row" *ngIf="!loading">
        <div class="col-md">
            <div class="row">
                <input-group class="col-md-6" label="Nome">
                    <input formControlName="nome" type="text" class="form-control">
                </input-group>
            </div>
            <div class="row">
                <div class="col-md" label="">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="ativo" formControlName="destaque">
                        <label class="form-check-label" for="ativo">
                            Destaque
                        </label>
                    </div>
                </div>
            </div>
            <div class="row input-group py-4">
                <div class="col-md-12">
                    <button (click)="salvar()" [disabled]="form.invalid" class="btn btn-primary btn-margem">
                        <text-spinner [loading]="loading">
                            Salvar
                        </text-spinner>
                    </button>
                    <button-back class="btn-margem">
                        Cancelar
                    </button-back>
                </div>
            </div>
        </div>
    </form>
</page-template>